.outline {
  overflow: hidden;
  border: 3px solid #171717;
}
.section {
  .table + .table {
    margin-top: -1px;
  }
}
.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  &:nth-of-type(n + 2),
  tbody:nth-of-type(n + 2) {
    border-top: 3px solid var(--accent-a6);
  }
}
.th {
  padding: 6px;
  border: 1px solid #ddd;
  background: #f8f8f8;

  &:not([align]) {
    text-align: center;
  }
}
.td {
  padding: 8px 6px;
  border: 1px solid #ddd;

  &:not([align]) {
    text-align: center;
  }
}

.inner-td {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

@media print {
  .table {
    &:nth-of-type(n + 2),
    tbody:nth-of-type(n + 2) {
      border-top-width: 2px;
    }
  }

  .table thead {
    display: table-header-group;
  }

  .table tfoot {
    display: table-footer-group;
  }

  .section h3,
  .section h4,
  .table thead {
    page-break-after: avoid;
    break-after: avoid-page;
  }

  .table.no-repeat-header thead {
    display: table-row-group;
  }
}
